<p>student works!</p>

<button (click)="onDecrement()">Decrement</button>
<button (click)="onIncrement()" id="increase-button">Increment</button>

<button (click)="getStudentApprovalState()">Get restul</button>

<h1 id="student-approval-state">{{ studentApprovalState }}</h1>
<h2 id="counter-value">{{ counterValue }}</h2>

<hr>
<h3>Student Information</h3>
<p id="student-name">{{ studentName }}</p>
<p id="student-age">{{ studentAge }}</p>

<input type="text" [readonly]="isInputReaonly" id="student-input-text">

<p [ngStyle]="{'color': (num > 10 ? 'black' : 'green')}" id="header1">Student Portal</p>
<h1 [ngClass]="num > 10 ? 'font-blue' : 'font-red'" id="header2">Is number greater than 10?</h1>

<table border="1">
    <thead>
        <tr>
            <th [attr.colspan]="columnSpan" id="table1">{{ pageHeader }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>First Name</td>
            <td>{{ firstName }}</td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>{{ lastName }}</td>
        </tr>
    </tbody>
</table>

<hr>

<button id="button1" (click)="onButton1Click()" style="color: blue" Button1 Click Event></button>
<button id="button2" (click)="onButton2Click()" style="color: blue" Button2 Click Event></button>

<input type="text" id="textBox1" placeholder="Button 1 on value change" (input)="onChangeInput()">
<input type="text" id="textBox2" placeholder="Button 2 on value change" (input)="onChangeLabelInput($event)">

<h3>{{ label }}</h3>

<hr>

<input type="text" id="student-name-input" [(ngModel)]="studentName">
<h2>{{ studentName }}</h2>
<button (click)="setName()" id="button3">Set Student Name</button>

<hr>

<div *ngIf="num >= 20" id="div1">
    Number is greater than and equal to 20
</div>

<div *ngIf="num < 20" id="div2">
    Number is smaller than 20
</div>

<div *ngIf="num >= 20; then trueCase; else falseCase" id="div3"></div>

<ng-template #trueCase>
    <p id="ng1">Number is greater than 20 ng-template</p>
</ng-template>

<ng-template #falseCase>
    <p id="ng2">Number is smaller than 20 ng-template</p>
</ng-template>